@font-face{
  font-family:fuente1;
  src: url(fuentes/fuente1.ttf);
}

@font-face{
  font-family:fuente3;
  src: url(fuentes/fuente3.ttf);

}

h1 {
  font-family: fuente1;
  text-align: center;
  font-size: 80px;
  text-shadow: 8px 8px 8px #BDBCBC;
}


body {
  background: url(imagenes/cuadros.png);
}

.texto {
  color: black;
  text-align:justify-all;
  font-family: Century Gothic;
}

#block1 {
  background: url(imagenes/rayas.jpg);
  background-size: 1500px;
  border: 5px ridge #E4C7E3;
  border-radius: 10px;
  margin: 50px 0px;
  padding:10px;
  display: block;
  text-align: center; 
  font-family: fuente3;
  font-size: 30px;
}
